/* Center the table horizontally */
.table {
    margin: 0 auto;
}

.hidden-button{
  border: none;
  padding: 0;
  background: none;
  color:#004ea2;
  text-decoration: underline;
  cursor: pointer;
  font-size: 16px;
}

.hidden-button:hover {
    background-color: #F0BCB8;
}

.tableDiv {
    height: 80vh;
    overflow-y: scroll;
    text-align: center;
    padding-top: 20px;
}

/* Style the caption */
.table caption {
    caption-side: top;
    text-align: center;
    padding: 10px;
}

.table thead tr {
  background-color: #004EA2;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

/*Kebab styling */

.kebab {
    cursor: pointer;

    figure {
        width: 6px;
        height: 6px;
        border-radius: 5px;
        background: gray;
        margin: 3px 0;
    }
}

/* Style the table head */
.table thead {
    background-color: #004EA2;
    color:#eee;
    position: sticky;
    top: 0;
    /* Light gray background */
}

/* Style the table head cells (th)
        TODO modificare in modo che l'ultimo non sembri cliccabile, probabilmente dopo aver introdotto ARIA
  */
.table thead th {
    padding: 10px;
    border: 1px solid #ddd;
    /* Light gray border */
    cursor: pointer;
    /* Indicate sortable headers */
}

/* Style the table body cells (td) */
.table tbody td {
    padding: 16px 24px;
    /* Remove border between cells in the same row */
    border-right: 0;
    /* Remove right border */
}

/* Alternate row colors (zebra striping) */
.table tbody tr:nth-child(even) {
    background-color: #f5f5f5;
    /* Light gray for even rows */
}

.lastCol {
    width: 115px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}


input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Stile base per il menu a tendina */
#order-field {
    font-family: sans-serif;
    /* Imposta un font moderno */
    font-size: 14px;
    /* Regola la dimensione del testo */
    padding: 8px 10px;
    /* Aggiungi padding per un aspetto più spazioso */
    border: 1px solid #ccc;
    /* Bordo sottile per definire il menu */
    border-radius: 4px;
    /* Angoli arrotondati per un aspetto più moderno */
    height: 32px;

    margin: 16px;
}

/* Stile per l'elenco di opzioni */
#order-field option {
    padding: 2px 4px;
    /* Spaziatura tra le opzioni */
}

/* Stile per l'opzione selezionata */
#order-field option:hover {
    background-color: #f0f0f0;
    /* Colore di sfondo al passaggio del mouse */
}

label{
    margin:20px;
    white-space: nowrap;
}

.sortcontainer {
    display: inline-flex;
  }
  
  .sort-options {  /* Style the new wrapper */
    display: flex;
    align-items: center;  /* Align elements vertically */
    flex-direction: column;
  }

  .cardItem{
    background-color: #eee;
    display: inline-grid;
    margin: 8px;
    border: 1px solid black;
    padding: 4px;
    border-radius: 4px;
  }
  .cardHeader{
    color: #eee;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  .cliccableTD{
    color:red;
    border: none;
    padding: 0;
    background: none;
    text-decoration: underline;
    cursor: pointer;
    
  }

  p{
    margin: 5px;
  font-size: larger;
  }

  /* Responsive design */
@media (max-width: 900px) {
    .kebab {
        left: auto;
    }

    .cardHeader {
        color: #eee;
        display: flex;
        flex-direction: row;
        align-items: self-start;
        align-content: revert;
        text-align: right;
        justify-content: flex-end;
        margin: 0 5px;
      }

      .orderCard{
        background-color: #004EA2; /*colore delle card*/
        border-radius: 16px;
        width: fit-content;
        padding: 4px;
        margin:4px;
        display: inline-block;
      }
      .cardItem{
        background-color: white;
        display: inline-grid;
        margin: 8px;
        border: 1px solid black;
        padding: 4px;
        border-radius: 4px;
      }
      .cardHeader{
        color: #eee;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
      }

}

